@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --p: 50.91% 0.155 24.08; 
  --s:72.92% 0.063 17.43;
  --i:87.4% 0.022 17.59;
  --wa:21.78% 0 0;
}



